body {
    width: 100%;
    height: 100%;   
    display:block;
    background-color: #f5f5f5;
    
}

header {
    background-color: white;
    width: 60%;
    height: 20%;
    margin-left: 20%;
    margin-right: 20%;
    display:block;  
    border:5px solid #999;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}


section {
    background-color: white; 
    width: 60%;
    height: 68.5%;
    border-radius: 0px 0px 0px 0px;
    display:block;
    overflow: auto;
    color:black;
    border:5px solid #999;
    border-bottom: none;
    border-top: none;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    line-height: 1.43;
    color: #484848;
}

article {
    background-color: white; 
    display:block;
}

nav {
    
}

footer {
    background-color: white;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 10%;
    border-radius: 0px 0px 10px 10px;
    display:block;
    border:5px solid #999;
    border-top: none;
    font-weight: bold;
    font-family: 'Verdana', 'Geneva', 'sans-serif';  
    text-align:center;
}



/****** Login MODAL ******/
.Loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}
.Loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}
.Loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.Loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
}

/****** Inscription MODAL ******/
.Inscriptionmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}
.Inscriptionmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}
.Inscriptionmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.Inscriptionmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
}